.column {
    float: left;
    width: 33%;
    padding: 10px;
}


/* Style the images inside the grid */

.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* The expanding image container */

.container-images {
    position: relative;
    display: none;
}


/* Expanding image text */

#imgtext {
    position: absolute;
    bottom: 15px;
    right: 100px;
    color: yellow;
    font-size: 20px;
}


/* Closable button inside the expanded image */

.closebtn {
    position: absolute;
    top: 2px;
    right: 15px;
    color: red;
    font-size: 35px;
    cursor: pointer;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}